@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.petCard {
  margin: 15pt;
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  -moz-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66)!important;
  box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  border-radius:5pt;
}

.petChore {
  display: flex;
  flex-direction: column;
  border: none !important;
  padding-left: 20pt;
}

/* .childChoreInfo {
  display: flex;
  flex-direction: column;
} */

.choreName {
  font-weight: bold;
  font-size: 16pt;
}

.parentIcons {
  display: flex;
  justify-content: flex-end;
}

.choreCompleted {
  text-decoration: line-through !important;
}

.petImage {
  max-width: 70px;
  max-height: 70px;
  margin-top: auto;
}

.pet__header {
  padding-top: 8pt;
  padding-right: 20pt;
  padding-left: 20pt;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-top: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;

  /* border-bottom: 1pt solid gray; */
}

.addPet {
  background: #29b6f6 !important;
}

.addPetButtonContainer {
  text-align: left;
  margin-left: 20pt;
  margin-bottom: 10pt;
}

.pet__name {
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
}

.edit__icon {
  margin: 10pt;
  margin-top: 5pt;
  margin-right: 5pt;
}


.delete__icon {
  margin: 10pt;
  margin-top: 5pt;
  margin-left: 5pt;
}

.child__name {
  margin-left: 12pt;
  font-family: 'Noto Sans KR', sans-serif;
}

.editPetIcons {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pencil__icon {
  width: 20px;
  margin-bottom: 5pt;
  margin-right: 5pt;
}

.cancel__icon {
  width: 20px;
  margin-bottom: 5pt;
  margin-right: 8pt;
}
