.childChartContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 150px;
  background-color: #ffffff;
  min-width: 100%;
  height: auto;
}

.chart {
  background-color: white;
  padding: 10pt;
}

.chartTitle{
  margin-bottom: 30pt;
  text-align: center;
}

.chartTime{
  margin: auto;
  width: max-content;

}