.parentDashboardContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 75px;
  background-color: #ffa726;
  min-width: 100%;
  height: auto;
}

/* html{
  background-color: rgb(235, 121, 15);

} */

.petListContainer {
  flex-basis: 90%;
}

.childContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 75px;
  background-color: #ffa726;
  min-width: 100%;
  height: auto;

}

.formContainer {
  display: flex;
  flex-direction: row;
  padding-top: 75px
}

.childDashboardContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 75px;
  background-color: #ffa726;
  min-width: 100%;
  height: auto;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 75px;
  background-color: #ffa726;
  min-width: 100%;
  height: auto;
}

.launchpadContainer {
  display: flex;
  flex-direction: column;
}

