.notificationList{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
  background-color: #ffa726;
  min-width: 100%;
  height: auto;
}

.notificationCard {
  border-radius: 5pt;
  max-width: 200px;
  padding: 5pt;
  margin: 15pt;
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  -moz-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66)!important;
  box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
}