.logInBackground {
  background-color: #ffffff;
}

.launchpad__Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.launchpad__title {
  margin-bottom: 75px;
  margin-top: 30pt;
  color: rgb(15, 150, 184);
  font-size: 40pt;
  margin-top: 30pt;
}

.launchpad__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  margin: auto;
}

.launchpad__choice {
  text-align: center;
  margin-bottom: 25pt;
}

.launchpadButton {
  margin-bottom: 40px;
}


.signIn {
  color: rgb(63, 63, 63);
}

.launchpadButton {
  font-size: 20pt;
  border-radius: 5pt;
}

.logo {
  max-width: 100px;
  margin-bottom: 40px;
  margin-top: 50pt !important;
  margin: auto;
}
