.logInForm{
  justify-content: center;
  text-align: center;
  margin: 10%;
  
}

.registerHeader{
  margin-top: 25px;
}

.logInFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.form--login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 15pt;
  border:1pt solid gray;
  border-radius: 5pt;
}

.logInUserContainer{
  margin: 5px;
}
.logInPassContainer{
  margin: 5px;
}

.logInUser{
  height: 25px;
  border-radius: 3pt;
  padding: 2px;
}

.logInButtons{
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 5px;
}

.registerButton{
 margin: 10px;
}

.registerPassContainer{
  margin-top: 20px;

}

.logInPass{
  height: 25px;
  border-radius: 3pt;
  padding: 2px;
}

.registerEmailContainer{
 margin-top: 20px;
}

.confirmPassContainer{
  margin-top: 20px;
}


.logInButton{
  margin: 5px;
}

.registerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  max-width: 450px;
  background-color: white;
  padding: 15pt;
  border-radius: 5pt;
}

.logInBackground {
  background-color: #29b6f6;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:-10%
}
