.logInForm {
  justify-content: center;
  text-align: center;
  margin: 10%;
}

.registerHeader {
  margin-top: 25px;
  text-align: center;
}

.logInFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.form--login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 325px;
  background-color: #ffa726;
  padding: 25pt;
  border: 1pt solid gray;
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  -moz-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.66) !important;
  border-radius: 5pt;
}

.logInUserContainer {
  margin: 5px;
}
.logInPassContainer {
  margin: 5px;
}

.logInUser {
  height: 25px;
  border-radius: 3pt;
  padding: 2px;
  margin-bottom: 5pt;
  height: 30pt;
}

.logInButtons {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 5px;
}

.registerButton {
  margin: 10px;
}

.registerPassContainer {
  margin-top: 20px;
}

.logInPass {
  height: 30pt;
  border-radius: 3pt;
  padding: 2px;
}

.registerEmailContainer {
  margin-top: 20px;
}

.confirmPassContainer {
  margin-top: 20px;
}

.logInButton {
  margin-right: 10px;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  max-width: 450px;
  background-color: white;
  padding: 15pt;
  border-radius: 5pt;
}

.logInBackground {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10%;
}

.welcomeTitle {
  text-align: center;
  color: rgb(15, 150, 184);
  text-transform: uppercase;
  font-weight: bold;
}

.formLabel {
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10pt;
}
